[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "<2"
hiredis = "*"

[dev-packages]
asynctest = "*"
pytest = "*"
setuptools-scm = "*"

[requires]
python_version = "3.9"
